/*heb mijn eigen font gemaakt en gebruikt*/
@font-face {
  font-family: 'myfont';
  src: url(fonts/Myfont-Regular.ttf);
}

@font-face {
  font-family: 'handschrift2';
  src: url(fonts/Handschrift2-Regular.ttf);
}

/* Is voor alles, ik wil nergens onverwachte padding of margin hebben dus daarom is dit 0*/
/* border-box geeft alleen de (width, height) waardes die jij wilt (in verschillende browsers is het anders bijvoorbeeld)*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* height 100vh bedekt de hele hoogte van je pagina */
html {
  height: 100vh;
}

/*body is alles wat je op je website ziet*/
body {
  display: flex;
  align-items: center;
  height: 100vh;
  background-color:hsla(225,20%,7%,1);
  /*mesh gradient, met radial gradient gedaan*/
  background:
  radial-gradient(at 32% 84%, hsla(234,60%,64%,1) 0px, transparent 50%),
  radial-gradient(at 81% 63%, hsla(241,74%,65%,1) 0px, transparent 50%),
  radial-gradient(at 14% 50%, hsla(224,91%,65%,1) 0px, transparent 50%),
  radial-gradient(at 69% 46%, hsla(258,91%,61%,1) 0px, transparent 50%),
  radial-gradient(at 11% 56%, hsla(307,88%,75%,1) 0px, transparent 50%),
  radial-gradient(at 78% 16%, hsla(299,95%,79%,1) 0px, transparent 50%);

  background-color: rgba(47, 31, 61, 0.10);
  /*cover bedekt het hele gebied waar de background-image in zit*/
  background-size: cover;
  /*overflow: hidden; is dat dingen in je box niet eruit kan gaan*/
  overflow: hidden;
}

.wrapper {
  display: flex; /* met layout te maken, dingen links van elkaar zetten b.v*/
  flex-wrap: wrap; /* met responsive te maken */
  width: 1000px; /* breedte , sorry heb pixels gebruikt */
  justify-content: center; /*centreren*/
  align-items: center;/*centreren*/
  text-align: center;/*centreren*/
  margin-left: auto;/*centreren*/
  margin-right: auto;/*centreren*/
}

header { /*header, boven*/
  font-family: "handschrift2", sans-serif; /* eigen handschrift, gelinkt met @fontface */
  font-weight: 400; /* boldness van het font */
  font-style: normal; /*kan schuin of normaal maken, in dit geval normaal*/
  font-size: 3em; /* groote tekst */
  text-transform: uppercase; /* capitalen */

}

h1 {
  background-image: url(images/background_h1.png); /* afbeelding achter header 1 */
  background-size: cover;
  margin-bottom: 0.5em;
}

main {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#left {
  width: 48%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1%;
  padding: 2.5em;
  cursor: pointer;

}

#left:hover .gezicht {
  rotate: 10deg;
  transition: none;
  animation-timing-function: linear; /* transitie is meer statig (stagato) */
  animation: quick_rotate 0.5s infinite;
}

.border_gezicht {
  background-image: url(images/border_gezicht.png);
  background-size: cover;
  width: 100%;
  height: 24em;
  display: flex;
  align-items: center;
}

.gezicht {
  width: 18em;
  height: 18em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  background-image: url(images/lach_lach.png);
  background-size: cover;
  
  transition: all 0.3s ease; /* "animeren" van iets dat beweegt, in dit geval bij hover en animatie */
  animation: blink 5s infinite; /* gelinkt met @keyframes, naam tijd repeat */
  z-index: 100;
  opacity: 98%; /* afbeelding is een beetje doorzichtig nu */
}

.border_laptop {
  background-image: url(images/border_laptop.png);
  background-size: cover;
  width: 100%;
  height: 24em;
  justify-content: center;
  display: flex;
  align-items: center;
}

.laptop {
  height: 18em;
  width: 23em;
  margin-left: auto;
  margin-right: auto;
  background-image: url(images/laptop.png);
  background-size: cover;
  background-position: center;
  transition: all 0.3s ease;
}

.gezicht:hover {
  rotate: 10deg;
  transition: none;
  animation-timing-function: linear; /* transitie is meer statig (stagato) */
  animation: quick_rotate 0.5s infinite;
}

.laptop:hover {
  rotate: 10deg;
  transition: none;
  animation-timing-function: linear;
  animation: quick_rotate 0.5s infinite;
}

a {
  text-decoration: none;
  display: inline-block;
}

@keyframes quick_rotate {
  0% {
    rotate: 10deg;
  }

  24% {
    rotate: 10deg;
  }

  25% {
    rotate: -10deg;
  }

  75% {
    rotate: -10deg;
  }

  76% {
    rotate: 10deg;
  }

  100% {
    rotate: 10deg;
  }
}

@keyframes blink {
  0% {
    background-image: url('images/lach_lach.png');
  }

  25% {
    background-image: url('images/lach_lach.png');
  }
  44% {
    background-image: url('images/lach_lach.png');

  }

  45% {
    background-image: url('images/dicht_lach.png');

  }

  46% {
    background-image: url('images/dicht_lach.png');

  }

  47% {
    background-image: url('images/lach_lach.png');

  }

  74% {
    background-image: url('images/lach_lach.png');

  }

  75% {
    background-image: url('images/dicht_lach.png');

  }

  76% {
    background-image: url('images/dicht_lach.png');

  }

  77% {
    background-image: url('images/lach_lach.png');

  }
  
  100% {
    background-image: url('images/lach_lach.png');
  }
}

.top {
  width: 100%;
  height: 100px;

}

.top img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 200px;
  rotate: 20deg;
  margin: 1em 0 0 -10em;
  animation: quick_rotate 0.5s infinite;
}

.wat_kan_ik img {
  width: 200px;
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  margin: 0 0 -2em 0;
  animation: quick_rotate 0.5s infinite;
}

/*heb mijn eigen font gemaakt en gebruikt*/
.wie_ben_ik h2 {
  font-family: "handschrift2", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
  rotate: -4deg;
  color: #171717;
  text-decoration: none;
  background-image: url(images/background_h1.png); /* afbeelding achter header 1 */
  background-size: cover;
  filter: hue-rotate(90deg) brightness(0.85);
}

.wat_kan_ik h2 {
  margin: 1em 0 0 0;
  font-family: "handschrift2", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
  rotate: -5deg;
  color: #171717;
  background-image: url(images/background_h1.png); /* afbeelding achter header 1 */
  background-size: cover;
  filter: hue-rotate(90deg) brightness(0.85);
}

 h2 span {
  font-weight: bold;
}

#right {
  width: 48%;
  margin: 1%;
  padding: 2.5em;
  justify-content: center;
  text-align: center;
}

#right:hover .laptop {
  rotate: 10deg;
  transition: none;
  animation-timing-function: linear; /* transitie is meer statig (stagato) */
  animation: quick_rotate 0.5s infinite;
}

@keyframes gezichten {
  0% {
    rotate: -5deg;
  }

  100% {
    rotate: 5deg;
  }
}

/* Wie is Anna-Kyra */
#center {
  width: 48%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1%;
  padding: 2.5em;
  cursor: pointer;

}
/*Wat kan Anna-Kyra */
.scroll {
  width: 575px;
  height: 365px;
  background-color: #EEEAFF;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding: 1em;
  text-align: left;
  overflow: hidden;
}

.scroll h2 {
  font-family: "handschrift2", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
}


/* expand content */
body.expand {
  font-size: 1.15em;
}

body.expand article {
  width: 60vw;
  max-width: 60vw;
}

body.expand button svg:first-of-type {
  opacity: 0;
  transition-delay: 0ms;
}

body.expand button svg:nth-of-type(2) {
  opacity: 1;
  transition-delay: .25s;
}

body.expand dd {
  font-size: 1.75em;
}

body.expand img {
  width: 15em;
}
